<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

      <mi-menu hidden$="{{hiddeMenu}}"></mi-menu>


    <!-- Login -->
     <div class="container" hidden$="[[loginSuccess]]">
     <!--form action="inicio.html" method="post" name="formEntrar"-->
       <div class="input-group input-group-lg" id="formEntrar" name="formEntrar">
         <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
         <input value="{{email::input}}" type="email" class="form-control"  placeholder="[[msjUser]]" id="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" aria-describedby="sizing-addon1" required maxlength="40" >
       </div>
       <br>
       <div class="input-group input-group-lg">
         <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
         <input value="{{password::input}}" type="password"  class="form-control" placeholder="[[msjPass]]" aria-describedby="sizing-addon1"  maxlength="40" required>
       </div>
       <br>
       <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit" on-click="validaLogin" >Entrar</button>
       <br>
       <div id="Respuesta" class$="{{claseRespuesta}}">[[respuesta]]</div>
     <!--/form-->
    </div>


</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginClientes extends Polymer.Element {
      static get is() { return 'login-clientes'; }
      static get properties() {
        return {
          usuario: {
            type: Array,
            notify: true
          },
          msjUser: {
            type: String,
            value: 'Indique el correo de acceso a su cuenta'
          },
          msjPass: {
            type: String,
            value: 'Indique su password'
          },
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          respuesta: {
            type: String,
            value: '**Todos los campos son obligatorios',
            notify: true

          },
          claseRespuesta: {
            type: String,
            value: 'alert alert-success'

          },
          loginSuccess: {
            type: Boolean,
            value: false,
            notify: true
          },
          hiddeMenu: {
            type: Boolean,
            value: true,
            notify: true
          }

        };
      }

      validaLogin() {

        if (this.email.trim() =='' || this.password.trim() == ''){
            this.claseRespuesta='alert alert-danger';
            this.respuesta ='Todos los campos son obligatorios';
        }

         else {

           var request = new XMLHttpRequest();
           request.open("POST", "http://localhost:3000/datosdecliente/login", false);
           request.setRequestHeader("Accept", "application/json");
           request.setRequestHeader("Content-Type", "application/json");
           var usuario = {
             "email": this.email,
             "password": this.password
           }
           var body = JSON.stringify(usuario);
           request.send(body);
           console.log("Ejecutando Login");
           this.respuesta = JSON.parse(request.responseText);
           console.log(this.respuesta);
        //Validar sintaxis   sessionStorage.setItem("testJSON",respuesta.loginItems);

      }
    }

    }



    window.customElements.define(LoginClientes.is, LoginClientes);


  </script>
</dom-module>
