<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-module.html">

<dom-module id="alta-usuario">
  <template>
      <style include="shared-styles">
        :host {
          display: block;

          padding: 10px;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .exitoagregar{
          display: none;
        }
      </style>

      <div class="card">
         <div class="circle">AU</div>
         <div id="agregar" class="agregar">
         <h1>Agregar usuario</h1>
         <p>Agrega un nuevo usuaio con los datos siguientes:</p>
         <p></p>
         Nombre:<br><input id="nombre" name="nombre" type="text" value="" autocomplete="off" maxlength="30" required=true  required="required">
         <br><br>
         Apellido Paterno:<br><input id="apellidop" name="apellidop" type="text" value=""  maxlength="30"  required=true  required="required">
         <br><br>
         Apellido Materno:<br><input id="apellidom" name="apellidom" type="text" value=""  maxlength="30"  required=true  required="required">
         <br><br>
         Usuario:<br><input id="usuario" name="usuario" type="text" value="" autocomplete="off" maxlength="10" pattern="^([a-z]+[0-9]{0,2}){5,12}$"  required="required">
         <br><br>
         Constraseña:<br><input id="password" name="password" type="password" value=""  maxlength="10" pattern="[A-Za-z0-9!?-]{8,12}"  required="required">
         <br><br>
         Confirmar constraseña:<br><input id="password2" name="password2" type="password" value=""  maxlength="10"  required="required">
         <br><br>
         <button class="button" type="button" on-click="altaUsuario">Agregar</button>
       </div>
       <div id="exitoagregar" class="exitoagregar">
         <h1>¡Alta exitosa!</h1>
         <p>El usuario ha sido dado de alta exitosamente.</p>
         <br><br>
         <button id="otrousuario" class="button" type="button" on-click="altaOtroUsuario">Agregar otro usuario</button>
       </div>

    </div>
    </template>

  <script>

  class AltaUsuario extends Polymer.Element {
    static get is() { return 'alta-usuario'; }

    altaUsuario(){
          var nombre=this.$.nombre.value;
          var apellidop=this.$.apellidop.value;
          var apellidom=this.$.apellidom.value;
          var usuario=this.$.usuario.value;


        var xhr = new XMLHttpRequest();

        var data = {
          "nombre": nombre,
          "apellidop": apellidop,
          "apellidom": apellidom,
          "usuario": usuario,
        };

        var json = JSON.stringify(data);

        xhr.open('POST', "http://localhost:3000/datosdecliente", true);
        xhr.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
        xhr.send(json);
        this.$.exitoagregar.style.display = "block";
        this.$.agregar.style.display = "none";
      }

      altaOtroUsuario(){
         this.$.nombre.value="";
         this.$.apellidop.value="";
         this.$.apellidom.value="";
         this.$.email.value= "";
         this.$.exitoagregar.style.display = "none";
         this.$.agregar.style.display = "block";
      }
  }
    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
