<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <img class="col-lg-3 col-xs-8" src="https://image.flaticon.com/icons/svg/189/189085.svg" alt=""/>
      </div>
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>e-m@il</th>
      </thead>
      <div class="row">
        <button class="btn btn-danger col-lg-4 col-xs-12" type="buttom" name"button" >Cargar Datos</button>
        <input type="text" placeholder="Gerardo" name="" value="{{prop1::input}}"/>
        <input type="text" placeholder="Torres" apellido="" value="{{prop2::input}}"/>
        <input type="text" placeholder="Rodriguez" apematerno="" value="{{prop3::input}}"/>
        <input type="text" placeholder="name@example.com"  mail"" value="{{prop4::input}}"/>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <tbody>
            <tr>
              <td>1</td>
              <td>[[prop1]]</tb>
              <td>[[prop2]]</td>
              <td>[[prop3]]</td>
              <td>[[prop3]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
//           value: "mi-visor"
          },
          prop2: {
            type:String
//            value: 999
          },
          prop3: {
            type:String
//            value: 'Indique su login'
          },
          prop4: {
            type:String
//            value: 999
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
