<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="detalle-solicitud">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <h1>Detalle de Solicitud {{id}}</h1>
    <div class="card col-lg-3" >
        <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[solicitud.idcliente]]&zoom=10&size=640x400" alt="Card image cap">

        <thead>
          <th>ID Pedido</th>
          <th>ID Cliente</th>
          <th>Fecha Recepciòn</th>
          <th>Hora Recepciòn</th>
          <th>Hora de Entrega</th>
          <th>Estado</th>
          <th>Costo</th>
        </thead>
        <div class="container">
          <div class="row">
            <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="obtenerSolicitud">Obtener Solicitud</button>
          </div>
        </div>
        <div class="row">
          <table>
            <tbody>
               <template is="dom-repeat" items="{{solicitud}}">
                 <tr>
                   <td>[[item.fechaentrega]]</td>
                   <td>[[item.horaentrega]]</td>
                   <td>[[item.estado]]</td>
                   <td>[[item.direntrega]]</td>
                    <td>[[item.costo]]</td>
                 </tr>
               </template>

            </tbody>

          </table>
        </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleSolicitud extends Polymer.Element {
      static get is() { return 'detalle-solicitud'; }
      static get properties() {
        return {
          solicitud: {
            type: Array,
            notify: true
          }
        };
      }
//      obtenerSolicitud() {
//        var request = new XMLHttpRequest();
//        request.open("GET", "http://localhost:3000/Solicitud/", false);
//        request.setRequestHeader("Accept", "application/json");
//        request.send();
//        this.solicitud = JSON.parse(request.responseText).value;
//        console.log(this.solicitud);
//      }
obtenerSolicitud(){
  var request = new XMLHttpRequest();
  var data = sessionStorage.getItem('idcliente');
  console.log(data);
  if(data == null){
    alert("No existe una sesion activa");
  }else{
    console.log( "Inicio consultaSolicitud para: " + data);
    request.open("GET","http://localhost:3000/Solicitud/"+data,false);
    request.send();
    console.log( request.responseText);
    console.log( "obteniendo solicitud:");
    var stringJSON = request.responseText;
    stringJSON = stringJSON.substring(1,stringJSON.length-1);
    var obj = JSON.parse(stringJSON);
    console.log("obj.idcliente: "+ obj.idcliente);
    console.log("obj.solicitud: "+ obj.idsolicitud);
    //var obj2 = obj.listado;
    this.solicitud= obj.listado;
  //  this.cuenta = obj.cuenta;
  //  this.nombre = obj.nombre +" "+obj.apellidoPaterno+" "+obj.apellidoMaterno;
    console.log( this.solicitud);
    this.$.TextoMov.style.display = "block";
  }
}


    }

    window.customElements.define(DetalleSolicitud.is, DetalleSolicitud);
  </script>
</dom-module>
